[tasks."input:decrypt"]
description = "Decrypt all secret files"
run = """
#!/bin/sh

SECRETS=$(fd ".*\\.secret\\.txt" inputs/)

for s in $SECRETS; do
    OUT=$(echo "$s" | sed "s/\\(inputs\\/.*\\)\\.secret\\.txt/\\1.txt/");
    echo "OUT: $OUT";
    sops -d "$s" > "$OUT";
done
"""

[tasks."input:encrypt"]
description = "Encrypt all non-secret files"
run = """
#!/bin/sh

INPUTS=$(fd -I "day\\d+.txt" inputs/)

for s in $INPUTS; do
    OUT=$(echo "$s" | sed "s/\\(inputs\\/.*\\)\\.txt/\\1.secret.txt/");
    if [ -f $OUT ]; then
        echo "$OUT already exists.";
    else
        echo "OUT: Writing encrypted file to $OUT";
        sops -e "$s" > "$OUT";
    fi
done
"""

[tasks.input]
depends = ["input:*"]
description = "Encrypt and decrypt all input files"

[tasks.test]
description = "Run pytest for specified day"
usage = '''
arg "<day>" help="What day to test"
flag "--year <year>" help="What year to test" default="2025"
complete "year" run="ls ./tests"
'''
run = 'uv run python -m pytest tests/${usage_year?}/test_day${usage_day?}.py'

[tasks.gen]
description = "Generate boilerplate code and test for a given day"
usage = '''
arg "<day>" help="What day to generate code file and test file for"
flag "--year <year>" help="What year to generate the files for" default="2025"
complete "year" run="ls ./tests"
'''
run = 'uv run python .hack/gen.py --year ${usage_year?} ${usage_day?}'

[tasks.aoc]
description = "Run an AoC solution"
usage = '''
arg "<day>" help="What day to run"
flag "--year <year>" help="What year the solution is in" default="2025"
complete "year" run="ls ./tests"
'''
run = 'uv run aoc.py -y ${usage_year?} ${usage_day?}'
