from adventofcode.utils.Puzzle import Puzzle
from typing import List
import re


class Day{{ day }}(Puzzle):
    day = {{ day | int }}

    def part1(self) -> int:
      pass

    def part2(self) -> int:
      pass
