from adventofcode._{{year}}.day{{ day }} import Day{{ day }}

data = """
""".splitlines()

d = Day{{ day }}(data=data)
d.debug = True

def test_part1():
    assert d.part1() == 0


def test_part2():
    assert d.part2() == 0
